@import '../styles.scss';
@import url('https://fonts.googleapis.com/css?family=Elms+Sans&display=swap');

* {
  font-family: 'Elms Sans', sans-serif;
}

:host {
  display: flex;
}

.app-layout {
  height: 100vh;
}

nz-content {
  padding: 24px 50px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}
