@import '../../styles.scss';

:host {
  display: flex;
}

.app-layout {
  height: 100vh;
}

.top-nav {
  line-height: 64px;
  background-color: $color1;
}

.top-nav > li {
  color: $color3;

  &:hover {
    background-color: $color2;
    color: $color3;
  }
}

.logo {
  float: left;
  height: 64px;
  padding-right: 24px;
  line-height: 64px;
  background: $color1;
}

.name {
  color: $color3;
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
}

.header {
  background: $color1;
}

.active-link {
  background-color: $color2 !important;
}
